<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

    <h1 _ngcontent-c0>Tour of Heroes</h1>
    <nav _ngcontent-c0>
        <a _ngcontent-c0 href="heroes.html" >Heroes</a>
        <a _ngcontent-c0 href="dashboard.html" class="active">Dashboard</a>
    </nav>
<h3 _ngcontent-c1>Top Heroes</h3>
    <div _ngcontent-c1 class="grid gird-pad">
        <!--bindings={
      "ng-reflect-ng-for-of": "[object Object],[object Object"
    }--><a _ngcontent-c1 class="col-1-4" href="details.html">
        <div _ngcontent-c1 class="module hero">
            <h4 _ngcontent-c1>Narco</h4>
        </div>
    </a><a _ngcontent-c1 class="col-1-4" href="details.html">
        <div _ngcontent-c1 class="module hero">
            <h4 _ngcontent-c1>Bombasto</h4>
        </div>
    </a><a _ngcontent-c1 class="col-1-4" href="details.html">
        <div _ngcontent-c1 class="module hero">
            <h4 _ngcontent-c1>Celeritas</h4>
        </div>
    </a><a _ngcontent-c1 class="col-1-4" href="details.html">
        <div _ngcontent-c1 class="module hero">
            <h4 _ngcontent-c1>Magneta</h4>
        </div>
    </a>
    </div>
    <div _ngcontent-c2 id="search-component">
        <h4 _ngcontent-c2>Hero Search</h4>
        <input _ngcontent-c2 id="search-box">
        <div _ngcontent-c2>
            <!--bindings={
     "ng-reflect-ng-for-of": null
   }-->
        </div>
    </div>



</body></html>
