<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

<h1 class="cnt-c0">Tour of Heroes</h1>
<nav class="cnt-c0">
    <a class="cnt-c0" href="heroes.html" >Heroes</a>
    <a class="cnt-c0" href="dashboard.html" >Dashboard</a>
</nav>
<div class="cnt-c4">
    <h2 class="cnt-c4">Narco details!</h2>
    <div class="cnt-c4">
        <label class="cnt-c4">id: </label>
        12
    </div>
    <div class="cnt-c4">
        <label class="cnt-c4">name: </label>
        <input placeholder="name" class="cnt-c4 ng-untouched ng-pristine ng-valid">
    </div>
    <button class="cnt-c4">Save</button>
    <button class="cnt-c4">Back</button>
</div>


</body>
</html>
