<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

<h1 _ngcontent-c0>Tour of Heroes</h1>
<nav _ngcontent-c0>
    <a _ngcontent-c0 href="heroes.html" class>Heroes</a>
    <a _ngcontent-c0 href="dashboard.html" class>Dashboard</a>
</nav>
<div _ngcontent-c4>
    <h2 _ngcontent-c4>Narco details!</h2>
    <div _ngcontent-c4>
        <label _ngcontent-c4>id: </label>
        12
    </div>
    <div _ngcontent-c4>
        <label _ngcontent-c4>name: </label>
        <input _ngcontent-c4 placeholder="name" ng-reflect-model="Narco" class="ng-untouched ng-pristine ng-valid">
    </div>
    <button _ngcontent-c4>Save</button>
    <button _ngcontent-c4>Back</button>
</div>


</body>
</html>
