<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<h1 _ngcontent-c0>Tour of Heroes</h1>
<nav _ngcontent-c0>
    <a _ngcontent-c0 href="heroes.html" class="active">Heroes</a>
    <a _ngcontent-c0 href="dashboard.html" class>Dashboard</a>
</nav>
<h2 _ngcontent-c3>My Heroes</h2>
<ul _ngcontent-c3 class="heroes">
    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    <li _ngcontent-c3 class="selected">
        <span _ngcontent-c3 class="badge">11</span>
        <span _ngcontent-c3>Mr. Nice</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">12</span>
        <span _ngcontent-c3>Narco</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">13</span>
        <span _ngcontent-c3>Bombasto</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">14</span>
        <span _ngcontent-c3>Celeritas</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">15</span>
        <span _ngcontent-c3>Magneta</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">16</span>
        <span _ngcontent-c3>RubberMan</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">17</span>
        <span _ngcontent-c3>Dynama</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">18</span>
        <span _ngcontent-c3>Dr IQ</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">19</span>
        <span _ngcontent-c3>Magma</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
    <li _ngcontent-c3>
        <span _ngcontent-c3 class="badge">20</span>
        <span _ngcontent-c3>Tornado</span>
        <button _ngcontent-c3 class="delete">x</button>
    </li>
</ul>
<!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
<div _ngcontent-c3>
    <h2 _ngcontent-c3>MR. NICE is my hero</h2>
    <button _ngcontent-c3>view Details</button>
</div>
<div _ngcontent-c3>
    <label _ngcontent-c3>Hero name:</label>
    <input _ngcontent-c3>
    <button _ngcontent-c3>Add</button>
</div>


</body>
</html>
