<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<h1 class="cnt-c0">Tour of Heroes</h1>
<nav class="cnt-c0">
    <a class="cnt-c0 active" href="heroes.html">Heroes</a>
    <a class="cnt-c0" href="dashboard.html" >Dashboard</a>
</nav>
<h2 class="cnt-c3">My Heroes</h2>
<ul class="cnt-c3 heroes" >
    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    <li class="selected cnt-c3" >
        <span class="cnt-c3 badge" >11</span>
        <span class="cnt-c3">Mr. Nice</span>
        <button class="cnt-c3 delete" >x</button>
    </li>
    <li class="cnt-c3">
        <span class="cnt-c3 badge" >12</span>
        <span class="cnt-c3">Narco</span>
        <button class="cnt-c3 delete" >x</button>
    </li>
    <li class="cnt-c3">
        <span class="cnt-c3 badge" >13</span>
        <span class="cnt-c3">Bombasto</span>
        <button class="cnt-c3 delete" >x</button>
    </li>
    <li class="cnt-c3">
        <span class="cnt-c3 badge" >14</span>
        <span class="cnt-c3">Celeritas</span>
        <button class="cnt-c3 delete" >x</button>
    </li>
    <li class="cnt-c3">
        <span class="cnt-c3 badge" >15</span>
        <span class="cnt-c3">Magneta</span>
        <button class="cnt-c3 delete" >x</button>
    </li>
</ul>
<!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
<div class="cnt-c3">
    <h2 class="cnt-c3">MR. NICE is my hero</h2>
    <button class="cnt-c3">view Details</button>
</div>
<div class="cnt-c3">
    <label class="cnt-c3">Hero name:</label>
    <input class="cnt-c3">
    <button class="cnt-c3">Add</button>
</div>


</body>
</html>
